body { 
        font-family: Verdana, Arial, sans-serif; 
        font-size: medium; 
        padding: 50px; 
        color: #555; 
        background-image: url(images/Fondo2.jpg); 
        background-attachment: fixed;
}

h1 { 
        text-align: left; 
        letter-spacing: 6px; 
        font-size: 1.4em;         
        color: #be7429; 
        font-weight: normal; 
        width: 450px;
        
}

table { 
        width: 580px; 
        padding: 10px; 
        background-color: #c5e7e0;
}

th { 
        text-align: left; 
        border-bottom: 1px solid;
}

td { 
        padding: 1px;
}

a:link {
        color: #be7429;
        font-weight: normal;
        text-decoration: none;
}

a:link:hover {
        color: #be7429;
        font-weight: normal;
        text-decoration: underline;
}