body { 
        font-family: Verdana, Arial, sans-serif; 
        font-size: medium; 
        padding: 50px; 
        color: #555; 
        background-image: url(images/Fondo.jpg); 
        background-repeat: no-repeat;
}

h1 { 
        text-align: left; 
        letter-spacing: 6px; 
        font-size: 1.4em;         
        color: #be7429; 
        font-weight: normal; 
        width: 450px;
}

table { 
        width: 580px; 
        padding: 10px; 
        background-color: #c5e7e0;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a:link {
        color: #be7429;
        font-weight: normal;
        text-decoration: none;
}

a:link:hover {
        color: #be7429;
        font-weight: normal;
        text-decoration: underline;
}